body{

margin:0;
font-family:Arial;
text-align:center;

background:linear-gradient(180deg,#ffd6ec,#fff);

overflow-x:hidden;

}

h1{

color:#d63384;
margin-top:30px;

}

/* пазл */

#puzzle{

width:300px;
height:300px;

margin:30px auto;

display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(3,1fr);

gap:4px;

}

.piece{

background-size:300px 300px;

border-radius:10px;

cursor:pointer;

}

.selected{

outline:3px solid hotpink;

}

/* кнопка */

#doneBtn{

display:none;

padding:14px 30px;

font-size:18px;

border:none;

border-radius:12px;

background:#ff4da6;

color:white;

}

/* открытка */

.card{

margin:40px auto;

width:260px;
height:160px;

background:#ff4da6;

border-radius:20px;

display:flex;
align-items:center;
justify-content:center;

font-size:40px;

color:white;

cursor:pointer;

position:relative;

}

.cardInside{

display:none;

background:white;

color:#333;

padding:20px;

border-radius:20px;

margin-top:20px;

width:80%;

margin-left:auto;
margin-right:auto;

}

/* лепестки */

.petal{

position:fixed;

top:-10px;

width:12px;
height:12px;

background:pink;

border-radius:50%;

opacity:0.8;

animation:fall linear;

}

@keyframes fall{

to{

transform:translateY(110vh);

}

}

/* телефон */

@media(max-width:600px){

#puzzle{
width:260px;
height:260px;
}

.card{
width:220px;
height:140px;
}

}